app.namespace=https://jpa03-m-cabello.herokuapp.com
app.admin.emails=phtcon@ucsb.edu, m_cabello@ucsb.edu

auth0.domain=ucsb-cs156-m-cabello.us.auth0.com
auth0.clientId=iXM96ykiNis9sMDEefB71mDBTJu2IXUa

security.oauth2.resource.id=https://jpa03-m-cabello.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
