app.namespace=https://jpa03-m-cabello.herokuapp.com
app.admin.emails=phtcon@ucsb.edu, m_cabello@ucsb.edu

auth0.domain=ucsb-cs156-m-cabello.us.auth0.com
auth0.clientId=iXM96ykiNis9sMDEefB71mDBTJu2IXUa

security.oauth2.resource.id=https://jpa03-m-cabello.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json


spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.driver-class-name = org.postgresql.Driver
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false

spring.datasource.url=${JDBC_DATABASE_URL}
spring.datasource.username=${JDBC_DATABASE_USERNAME}
spring.datasource.password=${JDBC_DATABASE_PASSWORD}
spring.jpa.hibernate.ddl-auto=update
